.post-form {
  background-color: var(--off-white);
  width: 50vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 10px;
  overflow-y: scroll;
}

.post-category {
  display: flex;
  flex-direction: column;
}

.item-picture {
  max-width: 40%;
  border-radius: 10px;
  border: 2px solid var(--dark-turquoise);
}

.item-picture.no-image {
  opacity: 0;
}

.category-buttons {
  display: flex;
  gap: 5px;
}

.post-form .post-form-buttons {
  display: flex;
  gap: 3px;
  width: 60%;
}

.post-form .post-form-buttons * {
  width: 48%;
}

.post-form .post-form-buttons *:hover {
  width: 48%;
}

.search {
  position: relative;
}

.search #resultlist {
  position: absolute;
  top: 90%;
}

.search #resultlist.content-closed {
  display: none;
}