/*******
 * navbar
 ********/

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: calc(50px + 3vh);
  z-index: 3000;
  background-color: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--light-turquoise);
}

#logoandmenu {
  display: flex;
  height: 100%;
}

.logo {
  height: calc(50px + 3vh);
}

.nav {
  display: flex;
  color: var(--dark-turquoise);
  align-items: center;
  gap: 1rem;
  padding: 0px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  font-size: calc((30% + 0.3vw) * 2);
}

.buttons {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

button.darkbutton {
  background-color: var(--light-turquoise);
  color: var(--off-white);
  width: fit-content;
}

button.darkbutton:hover {
  background-color: var(--off-white);
  color: var(--dark-turquoise);
  width: fit-content;
}

button.lightbutton {
  background-color: var(--off-white);
  color: var(--dark-turquoise);
  width: fit-content;
}

button.lightbutton:hover {
  background-color: var(--light-turquoise);
  color: var(--off-white);
  width: fit-content;
}

.profile-icon {
  color: var(--dark-turquoise);
  font-size: 30px;
}

.menu-icon {
  display: none;
}

.menu-links {
  display: flex;
  gap: 10px;
}

@media (max-width: 500px) {
  .menu-icon {
    display: block;
  }

  .menu-links {
    flex-direction: column;
    border: 2px solid var(--dark-turquoise);
    padding: 10px;
    background-color: var(--off-white);
    position: absolute;
    top: 65%;
    left: 130px;
    opacity: 0;
  }

  .menu-links.open {
    opacity: 1;
  }

  .menu-links a:not(:last-child) {
    border-bottom: 2px solid var(--dark-turquoise);
    padding: 3px;
  }
}