.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 50px;
}

.profile p {
  margin: 0;
}

.profile .username {
  font-weight: bold;
}

.profile-picture {
  max-width: calc(50px + 5vw);
  height: calc(50px + 5vw);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid var(--dark-turquoise);
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100px + 5vw);
  gap: 5px;
  margin: 5px;
}

.profile-buttons * {
  width: 100%;
}

.update-button {
  position: relative;
}

.update-form {
  width: 30vw;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: var(--off-white);
  color: var(--dark-turquoise);
}

input[type="file"] {
  display: none;
}

.upload-file {
  width: 30%;
  padding: 5px;
}

.update-form-buttons {
  width: 60%;
  display: flex;
  gap: 5px;
}

.update-form-buttons input {
  font-size: calc((20% + 0.3vw) * 2);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.update-form-buttons input:hover {
  font-size: calc((20% + 0.3vw) * 2);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--off-white);
}