.tab-headers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.tab-headers .tab-header {
  padding: 6px;
  font-size: calc(8px + 0.6vw);
}

.tab-headers .tab-header:not(:first-child) {
  border-left: 2px solid var(--light-turquoise);
}

.tab-headers .tab-header.active {
  color: var(--off-white);
  background-color: var(--light-turquoise);
}

.tab-content {
  padding: 20px;
  min-height: 50vh;
}