:root {
  --off-white: #fffffa;
  --dark-turquoise: rgb(13, 92, 99);
  --light-turquoise: #247b7b;
  background-color: var(--off-white);
}

.App {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

h1 {
  font-size: calc((100% + 0.5vw) * 2);
  margin: 0px;
}

h2 {
  font-size: calc((75% + 0.5vw) * 2);
  margin: 0px;
}

h3 {
  font-weight: normal;
  font-size: calc((30% + 0.5vw) * 2);
  margin: 0px;
}

h4 {
  font-weight: bold;
  font-size: calc((20% + 0.5vw) * 2);
  margin: 0px;
}

.lighttext {
  color: var(--off-white);
}

.darktext {
  color: var(--dark-turquoise);
}

.darkbutton {
  background-color: var(--light-turquoise);
  color: var(--off-white);
  border: 2px solid var(--light-turquoise);
}

.darkbutton:hover {
  background-color: var(--dark-turquoise);
  color: var(--off-white);
}

.lightbutton {
  background-color: var(--off-white);
  color: var(--dark-turquoise);
  border: 2px solid var(--light-turquoise);
}

.lightbutton:hover {
  background-color: var(--dark-turquoise);
  color: var(--off-white);
}

button {
  width: calc(40px + 2.5vw);
  height: calc(25px + 1.5vw);
  font-size: calc((20% + 0.3vw) * 2);
  border: 2px solid var(--light-turquoise);
  border-radius: 7px;
  cursor: pointer;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 80px);
  margin: 40px;
}

.clickable {
  cursor: pointer;
}

.rounded {
  border-radius: 7px;
}

.input[type="date"] {
  border: 1px solid var(--dark-turquoise);
}