:root {
  --off-white: #fffffa;
  --dark-turquoise: #0d5c63;
  --light-turquoise: #247b7b;
}

.App {
  text-align: center;
}

.header {
  background-color: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

#logoandmenu {
  display: flex;
}

.logo {
  height: 70px;
}

.nav {
  display: flex;
  color: var(--dark-turquoise);
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0px;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.header #buttons {
  display: flex;
  gap: 10px;
  padding-right: 20px;
}

.headerbutton {
  width: 70px;
  height: 40px;
  border: 3px solid var(--light-turquoise);
  border-radius: 7px;
}

.header #loginButton {
  background-color: var(--light-turquoise);
  color: var(--off-white);
}

.header #loginButton:hover {
  background-color: var(--off-white);
  color: var(--dark-turquoise);
}

.header #signupButton {
  background-color: var(--off-white);
  color: var(--dark-turquoise);
}

.header #signupButton:hover {
  background-color: var(--light-turquoise);
  color: var(--off-white);
}

#title {
  font-size: 80;
  color: white;
  font-weight: bold;
}